<a href="https://colab.research.google.com/github/Tushy12/Tushy12/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Kaggle Titanic

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [142]:
t_train = pd.read_csv("/content/drive/MyDrive/titanic/train.csv")
t_test = pd.read_csv("/content/drive/MyDrive/titanic/test.csv")

In [90]:
t_train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [91]:
t_test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [92]:
t_train.shape

(891, 12)

In [93]:
t_train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [94]:
t_train['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [95]:
t_train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [96]:
t_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [97]:
t_test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [98]:
t_train = t_train.dropna(subset=['Age'])

In [99]:
t_test = t_test.dropna(subset=['Age'])

In [100]:
t_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [101]:
print(t_train['Sex'].unique())
print(t_test['Sex'].unique())

['male' 'female']
['male' 'female']

In [102]:
from sklearn.preprocessing import LabelEncoder
encode = LabelEncoder()

t_train.iloc[:,4] = encode.fit_transform(t_train.iloc[:,4])

In [103]:
print(t_train['Sex'].unique())
print(t_test['Sex'].unique())

[1 0]
[1 0]

In [104]:
t_train.pivot_table('Survived', index='Sex', columns='Pclass')

Pclass         1         2         3
Sex
0       0.964706  0.918919  0.460784
1       0.396040  0.151515  0.150198

In [105]:
t_train.shape

(714, 12)

In [114]:
x_train = t_train[['PassengerId','Age','Sex','Pclass']].values
y_train = t_train['Survived'].values

In [115]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [116]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [117]:
def models(x_train,y_train):
  
  from sklearn.linear_model import LogisticRegression
  log = LogisticRegression(random_state = 0)
  log.fit(x_train,y_train)

  from sklearn.neighbors import KNeighborsClassifier
  knn = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
  knn.fit(x_train,y_train)

  from sklearn.svm import SVC
  svc_lin = SVC(kernel='linear', random_state =0)
  svc_lin.fit(x_train,y_train)

  from sklearn.svm import SVC
  svc_rbf = SVC(kernel='rbf', random_state =0)
  svc_rbf.fit(x_train,y_train)

  from sklearn.naive_bayes import GaussianNB
  gauss = GaussianNB()
  gauss.fit(x_train,y_train)

  from sklearn.tree import DecisionTreeClassifier
  tree = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
  tree.fit(x_train,y_train)

  from sklearn.ensemble import RandomForestClassifier
  rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
  rf.fit(x_train,y_train)

  return log, knn, svc_lin, svc_rbf, gauss, tree, rf

In [118]:
model = models(x_train,y_train)

In [123]:
for i in range(len(model)):
  print('Accuracy: ',model[i].score(x_train,y_train))

Accuracy:  0.7955182072829131
Accuracy:  0.8543417366946778
Accuracy:  0.7801120448179272
Accuracy:  0.8277310924369747
Accuracy:  0.7829131652661064
Accuracy:  1.0
Accuracy:  0.9831932773109243

In [145]:
t_test.iloc[:,3] = encode.fit_transform(t_test.iloc[:,3])

In [146]:
t_test['Age'].fillna(t_test['Age'].mean(),inplace=True)

In [148]:
x_test = t_test[['PassengerId','Age','Sex','Pclass']].values

In [149]:
pred_1 = model[5].predict(x_test)
pred_2 = model[6].predict(x_test)

In [152]:
submission1 = pd.DataFrame({'PassengerId': t_test['PassengerId'],'Survived': pred_1})
submission2 = pd.DataFrame({'PassengerId': t_test['PassengerId'],'Survived': pred_2})

In [154]:
submission1.to_csv('submission1.csv',index=False)
submission2.to_csv('submission2.csv',index=False)